
 <div class="container">
    <table class="table">
    	<thead >
    		<tr>
    			<th></th>

    			<th>Description of Acronyms</th>
    		</tr>
    		<tbody>
    			<tr>
    				<td>BHS</td>
    				<td>Barangay Health Station</td>
    			</tr>
    			<tr>
    				<td>BHW</td>
    				<td>Barangay Health WORKER</td>
    			</tr>
    			<tr>
    				<td>BNS</td>
    				<td>Barangay Nutritional Specialist</td>
    			</tr>
    			<tr>
    				<td>BSI</td>
    				<td>Barangay Sanitation Inspector</td>
    			</tr>
    			<tr>
    				<td>CMAM</td>
    				<td>Community Management on Acute Malnutrition</td>
    			</tr>
    			<tr>
    				<td>DOH</td>
    				<td>Department of Health</td>
    			</tr>
    			<tr>
    				<td>EINC</td>
    				<td>Essential Intrapartum and Newborn Care</td>
    			</tr>
    			<tr>
    				<td>EPI</td>
    				<td>Expanded Program on Immunization</td>
    			</tr>
    			<tr>
    				<td>FP</td>
    				<td>Family Planning</td>
    			</tr>
    			<tr>
    				<td>GPS</td>
    				<td>Global Positioning System</td>
    			</tr>
    			<tr>
    				<td>HeRAMS</td>
    				<td>Health Resource Availability Mapping System</td>
    			</tr>
    			<tr>
    				<td>HF</td>
    				<td>Health Facility</td>
    			</tr>
    			<tr>
    				<td>HIV</td>
    				<td>Human Immunodeficiency Virus</td>
    			</tr>
    			<tr>
    				<td>IEC</td>
    				<td>Information, Education, and Communication</td>
    			</tr>
    			<tr>
    				<td>IMCI</td>
    				<td>Integrated Management of Childhood Illness</td>
    			</tr>
    			<tr>
    				<td>MHO</td>
    				<td>Municipal Health Office</td>
    			</tr>
    			<tr>
    				<td>MUAC</td>
    				<td>Mid-Upper Arm Circumference</td>
    			</tr>
    			<tr>
    				<td>NCD</td>
    				<td>Noncommunicable Disease</td>
    			</tr>
    			<tr>
    				<td>PHN</td>
    				<td>Public Health Nurse</td>
    			</tr>
    			<tr>
    				<td>PPE</td>
    				<td>Personal Protective Equipment</td>
    			</tr>
    			<tr>
    				<td>PSGC</td>
    				<td>Philippine Standard Geographic Code</td>
    			</tr>
    			<tr>
    				<td>PTB</td>
    				<td>Pulmonary Tuberculosis</td>
    			</tr>
    			<tr>
    				<td>RHM</td>
    				<td>Rural Health Midwife</td>
    			</tr>
    			<tr>
    				<td>RHU</td>
    				<td>Rural Health Unit</td>
    			</tr>
    			<tr>
    				<td>SAM</td>
    				<td>Severe Acute Malnutrition</td>
    			</tr>
    			<tr>
    				<td>SPEED</td>
    				<td>Survielance in Post-Extreme Emergencies and Disasters</td>
    			</tr>
    			<tr>
    				<td>STI</td>
    				<td>Sexually Transmitted Infection</td>
    			</tr>
    			<tr>
    				<td>Tuberculosis</td>
    				<td>TB</td>
    			</tr>
    			<tr>
    				<td>TCL</td>
    				<td>Target Client List</td>
    			</tr>
    			<tr>
    				<td>VBD</td>
    				<td>Vector-borne Disease</td>
    			</tr>
    		</tbody>
    	</thead>
    </table>
 </div>
