<div class="row">
            <nav class="navbar header navbar-default navbar-fixed-top" role="navigation">
              <div class="container">
               
                    <b style="line-height: 5vh;">{{facilityName}}</b>

                    <button type="button"
                            class="btn btn-primary" 
                            id="facilityIndex"
                            ng-click="saveFacilitySections(facilityName);showIndex();save()"> 
                        Change Facility</button>

              </div>
            </nav> 
</div>  
