
          
         <div class="page-header" style="color:white;">
         <h3 style="padding-left:3vw;">SECTION 6: UTILIZATION OF SERVICES</h3>
        </div>
    

    <div class="panel panel-primary">
        
       
           
          
        
     <div class="panel-heading">
      <h3 class="panel-title">TOTAL Number of Deliveries in 2013-14*</h3>
     </div>
         <div class="panel-body">
             <form role="form">
             <table class="table-responsive">
                <thead class="cf colorLightBlue">
                  <tr>
                  <th rowspan="2"><h4 class="text-center">Month</h4></th>
                  <th rowspan="2"><h4 class="text-center">Facility-Based</h4></th>
                  <th colspan="3"><h4 class="text-center">Home-Assisted delivery</h4>
                      
                  </th>
                  <th colspan="2"><h4 class="text-center">Total</h4>
                  </th>
                  </tr>
                    <tr>
                          <td><h5 class="text-center">Midwife</h5></td>
                          <td><h5 class="text-center">Trained TBA</h5></td>
                          <td><h5 class="text-center">Untrained TBA</h5></td>
                          <td><h5>RHU Lying In</h5></td>
                          <td><h5 class="text-center">Hospital</h5></td>
                    </tr>
                </thead>
            
                <tbody>
                    
                <tr class = "row-fluid">
                <td>JUL 13</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth1">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth1">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth1">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth1">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth1">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth1">
                </td>
                </div>
                </tr>
                    
                <tr class = "row-fluid">
                <td>AUG 13</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth2">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth2">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth2">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth2">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth2">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth2">
                </td>
                </div> 
                </tr>
                
                <tr class = "row-fluid">
                <td>SEPT13</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth3">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth3">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth3">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth3">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth3">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth3">
                </td>
                </div> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>OCT 13</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth4">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth4">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth4">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth4">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth4">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth4">
                </td>
                </div>
                </tr>
                
                <tr class = "row-fluid">
                <td>NOV 13</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth5">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth5">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth5">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth5">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth5">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth5">
                </td>
                </div> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>DEC 13</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth6">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth6">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth6">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth6">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth6">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth6">
                </td>
                </div> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>JAN 14</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth7">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth7">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth7">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth7">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth7">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth7">
                </td>
                </div> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>FEB 14</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth8">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth8">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth8">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth8">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth8">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth8">
                </td>
                </div> 
                </tr>
                 
                <tr class = "row-fluid">
                <td>MAR 14</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth9">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth9">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth9">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth9">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth9">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth9">
                </td>
                </div>
                </tr>
                    
                <tr class = "row-fluid">
                <td>APR 14</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth10">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth10">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth10">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth10">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth10">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth10">
                </td>
                </div> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>MAY 14</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth11">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth11">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth11">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth11">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth11">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth11">
                </td>
                </div> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>JUN 14</td>
                <div>
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.FacilityBasedMonth12">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.MidWifeMonth12">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.TrainedMonth12">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.UntrainedMonth12">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.RHULyingInMonth12">
                </td> 
                <td class = "row-fluid text-center">
            <input type="number" id= "appendedInputButton" min ="0" ng-model="section6b.HospitalMonth12">
                </td>
                </div> 
                </tr>
            </tbody>    
        </table>
                 </form>
             </div>
        </div>
         

<ng-whonavbar> </ng-whonavbar>
<toaster-container toaster-options="{'time-out': 5000, 'close-button':true}"></toaster-container>
