

  <div class="page-header" style="color:white;">
         <h3>SECTION 4: EQUIPMENT,SUPPLIES, AND MEDICINES*</h3>
       </div>

    <div class="panel panel-primary">
        <div class="panel-body">
             <form role="form">
             <table class="table">
                 <thead class="cf colorLightBlue">
                  <tr class="info">
                  <th><h5>4. Standard Precautions</h5></th>
                  <th><h5> Y/N </h5></th>
                  <th><h5> Functioning or Non-Functioning? </h5></th>
                   </tr>
                </thead>
            
                <tbody>
                <tr class = "row-fluid">
                <td>Brush for hand scrubbing, plastic</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4d.Item1YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4d.Item1YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4d.Item1Func"></textarea>
                </td>
                </tr>
                
                <tr class = "row-fluid">
                <td>PPE: Gloves, Masks</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4d.Item2YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4d.Item2YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4d.Item2Func"></textarea>
                </td>
                </tr>
                
                <tr class = "row-fluid">
                <td>Disposable needles and syringes</td>
                 <td>
                    <form action="">
                    <input type="radio" ng-model="section4d.Item3YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4d.Item3YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4d.Item3Func"></textarea>
                </td>
                </tr>
                
                <tr class = "row-fluid">
                <td>Safety sharp disposal containers </td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4d.Item4YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4d.Item4YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4d.Item4Func"></textarea>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Sterilizer</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4d.Item5YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4d.Item5YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4d.Item5Func"></textarea>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Flashlight/Torch</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4d.Item6YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4d.Item6YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4d.Item6Func"></textarea>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Spare Batteries (flashlight)</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4d.Item7YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4d.Item7YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4d.Item7Func"></textarea>
                </td> 
                </tr>
                    
            </tbody>   
        </table>
                 </form>
            </div>
        </div>
    


<ng-whonavbar> </ng-whonavbar>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

