
         <div class="page-header" style="color:white;">
         <h3>SECTION 4: EQUIPMENT,SUPPLIES, AND MEDICINES*</h3>
       </div>

    <div class="panel panel-primary">
        <div class="panel-body">
             <form role="form">
             <table class="table">
                 <thead class="cf colorLightBlue">
                  <tr class="info">
                  <th><h5>7. Basic Drugs</h5></th>
                  <th><h5> Y/N </h5></th>
                  <th><h5> How many? </h5></th>
                   </tr>
                </thead>
            
                <tbody>
                    
                <tr class = "row-fluid">
                <td>Amoxicillin</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item1YesNo" value="true">Yes
                    <input type="radio" ng-model="section4g.Item1YesNo"  value="false">No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item1Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Amoxicillin suspension</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item2YesNo" value="true">Yes
                    <input type="radio" ng-model="section4g.Item2YesNo"  value="false">No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item2Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Amoxicillin drops</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item3YesNo" value="true">Yes
                    <input type="radio" ng-model="section4g.Item3YesNo"  value="false">No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item3Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Cotrimoxazole tablet</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item4YesNo" value="true">Yes
                    <input type="radio" ng-model="section4g.Item4YesNo"  value="false">No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item4Number"></input>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Cotrimoxazole suspension</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item5YesNo" value="true">Yes
                    <input type="radio" ng-model="section4g.Item5YesNo"  value="false">No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item5Number"></input>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Mefenamic Acid 50mg/5ml syrup</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item6YesNo" value="true">Yes
                    <input type="radio" ng-model="section4g.Item6YesNo"  value="false">No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item6Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Mefenamic Acid 250mg capsule</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item7YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item7YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item7Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Paracetamol 500mg tablet</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item8YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item8YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item8Number"></input>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Paracetamol 500mg tablet</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item9YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item9YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item9Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Paracetamol 100mg/ml syrup </td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item10YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item10YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item10Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Paracetamol 100mg/5ml syrup</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item11YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item11YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item11Number"></input>
                </td>
                </tr>
                    
                <tr class = "row-fluid">
                <td>Oral Rehydration Salts</br>(ORS 75- replacement)</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item12YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item12YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item12Number"></input>
                </td>
                </tr>
                    
                <tr class = "row-fluid">
                <td>Ferrous Sulfate + Folic Acid 60mg</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item13YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item13YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item13Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Lagundi 300mg tablet</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item14YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item14YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item14Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Lagundi 300mg/5ml suspension</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item15YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item15YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item15Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Ascorbic Acid 500mg tablet</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item16YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item16YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item16Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Ascorbic Acid 100mg/5ml syrup</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item17YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item17YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item17Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Oxytocin</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item18YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item18YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item18Number"></input>
                </td> 
                </tr>
                   
                <tr class = "row-fluid">
                <td>Dexamethasone</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item19YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item19YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item19Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Magnesium Sulfate</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item20YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item20YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item20Number"></input>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Zinc/Zinc Supplements</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item21YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item21YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item21Number"></input>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Vitamin A (200,000 IU/ 100,000 IU)</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4g.Item22YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4g.Item22YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
            <input type = "number" id="appendedInputButton" ng-model="section4g.Item22Number"></input>
                </td> 
                </tr>
                    
            </tbody>    
        </table>
                 </form>
            </div>
        </div>
    

<ng-whonavbar> </ng-whonavbar>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
