
       <div class="page-header" style="color:white;">
         <h3>SECTION 4: EQUIPMENT,SUPPLIES, AND MEDICINES*</h3>
       </div>

    <div class="panel panel-primary" >
         <div class="panel-body">
             <form role="form">
            <table class="table">
             <thead class="rhmTableTitle">
                <tr class="info">
                <th><h5>1.Basic Equipments</h5></th>
                <th><h5> Y/N </h5></th>
                <th><h5> Functioning or Non-Functioning? </h5></th>
                </tr>
            </thead>
            <tbody>
                <tr class = "row-fluid">
                <td>Blood pressure machine, aneroid</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Item1YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Item1YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Item1Func"></textarea>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Examination Lamp</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Item2YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Item2YesNo" value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Item2Func"></textarea>
                </td> 
                </tr>
                <tr class = "row-fluid">
                <td>Fetoscope, metallic</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Item3YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Item3YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Item3Func"></textarea>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Stethoscope, adult</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Item4YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Item4YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Item4Func"></textarea>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Tape Measure, plastic</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Row5YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Row5YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Row5Func"></textarea>
                </td> 
                </tr>
                     
                <tr class = "row-fluid">
                <td>Room Thermometer</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Item6YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Item6YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Item6Func"></textarea>
                </td> 
                </tr>
                
                     
                <tr class = "row-fluid">
                <td>Thermometer, axilliary, non-mercurial</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Item7YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Item7YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Item7Func"></textarea>
                </td> 
                </tr>
                
                     
                <tr class = "row-fluid">
                <td>Timer/Watch w/ second hand</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Item8YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Item8YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Item8Func"></textarea>
                </td>
                </tr>
                
                     
                <tr class = "row-fluid">
                <td>Weighing scale, adults, w/ height scale</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Item9YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Item9YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Item9Func"></textarea>
                </td>  
                </tr>
                
                     
                <tr class = "row-fluid">
                <td>Weighing scale, child, hanging</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Item10YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Item10YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Item10Func"></textarea>
                </td> 
                </tr>
                
                     
                <tr class = "row-fluid">
                <td>Weighing scale, infant</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4a.Item11YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4a.Item11YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                    <textarea type = "text" id="appendedInputButton" ng-model="section4a.Item11Func"></textarea>
                </td> 
                </tr>
                </tbody>
            </table>
                </form>
             </div>
        </div>
   

<ng-whonavbar> </ng-whonavbar>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
  

    