

<div class="row">
       <div class="page-header" style="color:white;">
         <h3 style="padding-left:3vw;">SECTION 6: UTILIZATION OF SERVICES</h3>
        </div>
           
          
               
         
    
    <div class="panel panel-primary">
     <div class="panel-heading">
      <h3 class="panel-title" style="padding-left:3vw;">Total No. of Consultations (2013-14)</h3>
     </div>
         <div class="panel-body">
             <form role="form">
    
        <table class="table table-responsive" style = "Background-color:white">
                <thead class="cf colorLightBlue">
                  <tr>
                  <th><h4 class="text-center">Month</h4></th>
                  <th><h4 class="text-center">< 5</h4></th>
                  <th><h4 class="text-center">5 and Older</h4></th>
                  <th><h4 class="text-center">Total</h4></th>
                  </tr>
                </thead>
            
                <tbody>
                    
                <tr class = "row-fluid">
                <td>JUL 13</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month1" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth1" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month1" min="0">
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>AUG 13</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month2" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth2" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month2" min="0">
                </td>
                </tr>
                
                <tr class = "row-fluid">
                <td>SEPT13</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month3" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth3" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month3" min="0">
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>OCT 13</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month4" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth4" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month4" min="0">
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>NOV 13</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month5" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth5" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month5" min="0">
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>DEC 13</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month6" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth6" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month6" min="0">
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>JAN 14</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month7" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth7" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month7" min="0">
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>FEB 14</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month8" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth8" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month8" min="0">
                </td> 
                </tr>
                 
                <tr class = "row-fluid">
                <td>MAR 14</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month9" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth9" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month9" min="0">
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>APR 14</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month10" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth10" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month10" min="0">
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>MAY 14</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month11" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth11" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month11" min="0">
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>JUN 14</td>
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Less5Month12" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.FiveMonth12" min="0">
                </td> 
                <td class = "row-fluid text-center">
                    <input type="number" id= "appendedInputButton" ng-model="section6a.Post5Month12" min="0">
                </td> 
                </tr>
            </tbody>     
        </table>
        </form>
            </div>
        </div>
  

<ng-whonavbar> </ng-whonavbar>
    <toaster-container toaster-options="{'time-out': 5000, 'close-button':true}"></toaster-container>

   