

        <div class="page-header" style="color:white;">
         <h3>SECTION 4: EQUIPMENT,SUPPLIES, AND MEDICINES*</h3>
       </div>

    <div class="panel panel-primary">
        <div class="panel-body">
             <form role="form">
             <table class="table">
                <thead class="cf colorLightBlue">
                  <tr class="info">
                  <th><h5>2. Surgical Material</h5></th>
                  <th><h5> Y/N </h5></th>
                  <th><h5> Functioning or Non-Functioning? </h5></th>
                   </tr>
                </thead>
            
                <tbody>
                <tr class = "row-fluid">
                <td>Bandage scissors</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item1YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item1YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item1Func"></textarea>
                </td>
                </tr>
                
                <tr class = "row-fluid">
                <td>Clamp, plastic, sterile</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item2YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item2YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item2Func"></textarea>
                </td>
                </tr>
                
                <tr class = "row-fluid">
                <td>Mosquito Forceps</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item3YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item3YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item3Func"></textarea>
                </td>
                </tr>
                
                <tr class = "row-fluid">
                <td>Instrument trays(1 big, 1 small)</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item4YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item4YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item4Func"></textarea>
                </td>
                </tr>
                
                <tr class = "row-fluid">
                <td>Kidney basin, 1 plastic + 1 stainless</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item5YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item5YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item5Func"></textarea>
                </td>
                </tr>
                
                <tr class = "row-fluid">
                <td>Mayo clamp</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item6YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item6YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item6Func"></textarea>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>May scissors curved</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item7YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item7YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item7Func"></textarea>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Pickup Forceps</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item8YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item8YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item8Func"></textarea>
                </td> 
                </tr>
                    
                <tr class = "row-fluid">
                <td>Cylinder for Pickup Forceps</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item9YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item9YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item9Func"></textarea>
                </td> 
                </tr>
                
                <tr class = "row-fluid">
                <td>Surgical Tape</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item10YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item10YesNo"  value="false"> No
                    </form>
                </td> 
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item10Func"></textarea>
                </td> 
                </tr>

                <tr class = "row-fluid">
                <td>Box of Instruments</td>
                <td>
                    <form action="">
                    <input type="radio" ng-model="section4b.Item11YesNo" value="true"> Yes
                    <input type="radio" ng-model="section4b.Item11YesNo"  value="false"> No
                    </form>
                </td>
                <td class = "row-fluid text-center">
                <textarea type = "text" id="appendedInputButton" ng-model="section4b.Item11Func"></textarea>
                </td> 
                </tr>
                    
            </tbody>      
        </table>
                 </form>
             </div>
        </div>
    

<ng-whonavbar> </ng-whonavbar>
<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
