
<div class="page-header" style="color:white;">
         <h3>SECTION 5: AVAILABILITY OF SERVICES (BHS & COMMUNITY)</h3>
</div>

   <div class="panel panel-primary">
     <div class="panel-heading">
      <h3 class="panel-title">5.2: COMMUNITY HEALTH SERVICE AVAILABILITY</h3>
     </div>
         <div class="table-responsive">
            
            <table class="table-responsive" style = "Background-color:white">
                <tdead>
       
             <tr class="row-fluid">
                <td class="cf colorLightBlue"></td>
                <td class="cf colorLightBlue"></td>
                <td class="cf colorLightBlue">Health Services Rendered by BHW </td>
                <td class="cf colorLightBlue">Guide for the Interviewer </td>
                <td class="cf colorLightBlue">Pre-Yolanda (Y/N)</td>
                <td class="cf colorLightBlue">Post-Yolanda (Y/N)</td>
             </tr>
          </thead>
            
                <tbody>
                    <tr>
                <td class="cf colorLightBlue">Collection of Vital Statistics</td>
                <td  style="background: #E0E0E0;">C0.1</td>
                <td style="background: #E0E0E0;">Deaths and births</td>
                <td style="background: #E0E0E0;">Does the BHW conducts and keeps records of deaths and births?
                    Suggested Means of Verification: Master List, TCL, notebooks,
                    logbooks, pad papers, etc..</td>
               <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow1PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow1PreNo"  value="false">No</td>
                <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow1PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow1PostNo"  value="false">No</td>
             </tr>
             <tr>
                <td class="cf colorLightBlue"></td>
                <td>C0.2</td>
                <td>Others: e.g. population movements; registry of pregnant                                       women, newborn children</td>
                <td></td>
               <td><input type="radio" ng-model="section5b.rdb5bRow2PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow2PreNo"  value="false">No</td>
                <td><input type="radio" ng-model="section5b.rdb5bRow2PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow2PostNo"  value="false">No</td>
             </tr>
              <tr>
                <td  class="cf colorLightBlue">Child Health</td>
                <td  style="background: #E0E0E0;">C2.1</td>  
                <td style="background: #E0E0E0;">Identify and refer sick child</td>
                <td style="background: #E0E0E0;">It inquires if the BHW has the capacity to identify a sick
                    child and refer it to the next level of care?</td>
               <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow3PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow3PreNo"  value="false">No</td>
                <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow3PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow3PostNo"  value="false">No</td>
             </tr>
              <tr>
                <td class="cf colorLightBlue"></td>
                <td>C2.2</td>
                <td>Support screening of acute malnutrition (MUAC and/or                                         bilateral pitting edema of the legs), active case finding
                    and referral of SAM (done by BNSs only)</td>
                <td>It inquires if the BNS assist and support screening of acute
                    malnutrition conducted through MUAC and/or bilateral pitting
                    edema of the legs.</td>
               <td><input type="radio" ng-model="section5b.rdb5bRow4PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow4PreNo"  value="false">No</td>
                <td><input type="radio" ng-model="section5b.rdb5bRow4PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow4PostNo"  value="false">No</td>
             </tr>
              <tr>
                <td class="cf colorLightBlue" >Communicable Diseases</td>
                <td style="background: #E0E0E0;">C3.1</td>
                <td style="background: #E0E0E0;">Vector control (IEC; impregnated bed nets/curtains)</td>
                <td style="background: #E0E0E0;">It inquires if the BHW conducts Information and Education
                    Campaign in his/her community with the programs mentioned.
                    We can ask furthermore when was the last time they                                           participated and how often they conduct IECs related to
                    these programs.</td>
              <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow5PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRo5PreNo"  value="false">No</td>
                <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow5PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow5PostNo"  value="false">No</td>
             </tr>
              <tr>
                <td class="cf colorLightBlue"></td>
                <td>C3.2</td>
                <td>Community mobilization for and support to mass vaccinations
                    and/or drug administration/treatments</td>
                <td></td>
               <td><input type="radio" ng-model="section5b.rdb5bRow6PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow6PreNo"  value="false">No</td>
                <td><input type="radio" ng-model="section5b.rdb5bRow6PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow6PostNo"  value="false">No</td>
             </tr>
              <tr>
                <td  class="cf colorLightBlue"></td>
                <td style="background: #E0E0E0;">C3.3</td>
                <td style="background: #E0E0E0;">IEC on locally priority diseases (e.g. TB self referral,
                    malaria self referral, others)</td>
                <td style="background: #E0E0E0;"></td>
               <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow7PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow7PreNo"  value="false">No</td>
                <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow7PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow7PostNo"  value="false">No</td>
             </tr>
              <tr>
                <td class="cf colorLightBlue" >STI & HIV/AIDS</td>
                <td>C4.1.2</td>
                <td>IEC on prevention of STI/HIV infections and behavioural                                       change communication</td>
                <td></td>
                <td><input type="radio" ng-model="section5b.rdb5bRow8PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow8PreNo"  value="false">No</td>
                <td><input type="radio" ng-model="section5b.rdb5bRow8PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow8PostNo"  value="false">No</td>
             </tr>
              <tr>
                <td class="cf colorLightBlue" ></td>
                <td style="background: #E0E0E0;">C4.1.3</td>
                <td style="background: #E0E0E0;">Promotion of condoms utilization</td>
                <td style="background: #E0E0E0;">It inquires if the BHW promotes the use of condoms and                                       can/will explain how to use one.</td>
                <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow9PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow9PreNo"  value="false">No</td>
                <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow9PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow9PostNo"  value="false">No</td>
             </tr>
              <tr>
                <td class="cf colorLightBlue"class="cf colorLightBlue" >Maternal & Newborn Health</td>
                <td>C4.2.2</td>
                <td>Promotion of Family Planning and Use of Pregnancy                                             Tracking</td>
                <td>It inquires if the BHW supports the promotion of FP and
                    has a system for tracking pregnancies of expecting mothers.                     </td>
                <td><input type="radio" ng-model="section5b.rdb5bRow10PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow10PreNo"  value="false">No</td>
                <td><input type="radio" ng-model="section5b.rdb5bRow10PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow10PostNo"  value="false">No</td>
             </tr>
              <tr>
                <td class="cf colorLightBlue" >Non-Communicable Diseases and Mental Health</td>
                <td style="background: #E0E0E0;">C5.1</td>
                <td style="background: #E0E0E0;">Provide basic care and support, and promote self-care
                    for people affected by NCD and chronic conditions, identify
                    and refer severe cases for treatment, provide needed follow
                    up (home visits) to people with chronic health conditions
                    and disabilities discharged by facility-based health and
                    social services.</td>
                <td style="background: #E0E0E0;">It inquires if the BHW have done home visits for follow up
                    and if he/she has identified and referred certain cases to
                    the next level of care for treatment.</td>
                <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow11PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow11PreNo"  value="false">No</td>
                <td style="background: #E0E0E0;"><input type="radio" ng-model="section5b.rdb5bRow11PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow11PostNo"  value="false">No</td>
             </tr>
              <tr>
                <td class="cf colorLightBlue" >Environmental Health</td>
                <td>C6.1</td>
                <td>IEC on hygiene promotion and water and sanitation, community
                    mobilization for clean up campaigns and/or other sanitation
                    activities</td>
                <td>It inquires if the BHW conducts Information and Education
                    Campaign in his/her community related to environmental
                    health. Ask furthermore when was the last time they                                           participated and how often they conduct IECs related  to
                    these programs. What was the latest DOH program they                                         participated in regards to environmental health.</td>
                <td><input type="radio" ng-model="section5b.rdb5bRow12PreYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow12PreNo"  value="false">No</td>
                <td><input type="radio" ng-model="section5b.rdb5bRow12PostYes"  value="true">Yes<br/>
                    <input type="radio" ng-model="section5b.rdb5bRow12PostNo"  value="false">No</td>
             </tr>
                        
                </tbody>   
        </table>
                
             </div>
        </div>

<ng-whonavbar> </ng-whonavbar>